div.aclWidget div.nsTree {
    float:left;
}


select.userList {
    width:10em;
    margin-top: 1em;
    float:left;
}

select.roleList {
    width:10em;
    margin-top: 1em;
    margin-left: 1em;
    height:7em;
}