div#adminWidget  {
  display: inline-block;
  text-align: right;
  height:90px;
  vertical-align:top;
  margin-top:1em;
}

div#adminWidget div.AdminWidget > button.drawerPull {
  background: lightgray;
  padding:10px;
}
  
  

dialog.AdminDialog {
    z-index:10;
    top:100px;
    width:1000px;
    height:800px;
    padding:0px;
    background: #b0b0b0;
    text-align: left;

  }

  dialog.AdminDialog::backdrop {
    z-index:10;
    background: rgba(0,0,0,0.7);
  }  

div#adminSidebar {
    float:left;
    background: grey;
    border-right: 5px double black;
    padding:1em;
    height: calc(100% - 2em);
    margin-right:1em;
    
}

div#adminSidebar label {
  font-size:3em;
}

  button.settingsTabBtn {
    display:block;
    font-size:2em;
    margin-top:1em;
    text-align:right;
    margin-right: calc(-.5em + -5px);
    padding:.1em;
    padding-right: .5em;
    margin-left: auto;
  }
  
  button.settingsTabBtn.selectedTab  {
    background: #b0b0b0;
    border-width: 2px 0px 2px 2px;
    border-radius: 10px 0 0 10px;
    border-color:black;
    border-style:  solid;
  }

  dialog.AdminDialog button.close {
    float:right;
    margin:1px 3px;
    color: red;
    font-weight: bold;
  }

dialog.AdminDialog div.settingsBody {
}

dialog.AdminDialog div.settingsBody.hidden {
  display: none
}
