div.userSetup select {
  width:10em;
}
div.userSetup div.userButtons, div.userSetup div.roleButtons {
  display:inline-block;
  margin:.5em;
  vertical-align: top;
}
div.userSetup div.userButtons button, div.userSetup div.roleButtons button {
  display:block;
  margin:.25em;
}

div.userSetup div.selectWidget {
  float:left;
}

select#roleList {
  width:250px;
}

dialog.addRoleDialog div.addRoleButtons {
  display: inline-flex;
}

dialog.addRoleDialog div.addRoleButtons button.cancel {
  order: 2;
}

dialog.addRoleDialog div.addRoleButtons button.add {
  order: 1;
}
