div.userSetup select {
  width:10em;
}
div.userSetup div.userButtons, div.userSetup div.roleButtons {
  display:inline-block;
  margin:.5em;
  vertical-align: top;
}
div.userSetup div.userButtons button, div.userSetup div.roleButtons button {
  display:block;
  margin:.25em;
}

div.userSetup div.selectWidget {
  float:left;
}

select#roleList {
  width:250px;
}

dialog.addRoleDialog div.addRoleButtons {
  display: inline-flex;
}

dialog.addRoleDialog div.addRoleButtons button.cancel {
  order: 2;
}

dialog.addRoleDialog div.addRoleButtons button.add {
  order: 1;
}

dialog.addRoleDialog div.addRoleButtons button {
  margin: .5em;
  margin-top: 1.5em;
}

dialog.addRoleDialog label {
  margin-right: .5em;
}

dialog.addUserDialog label {
  margin-right: .5em;
}

div.AddUserError {
  color:red;
  width: 400px;
  height: 22px;

}

dialog.addUserDialog div.addUserButtons button {
  margin: .5em;
  margin-top: 1.5em;
}

dialog.addUserDialog .title {
  margin-top:0;
}

dialog.confirmDeleteDialog div.confirmDeleteButtons {
  display: inline-flex;
}

dialog.confirmDeleteDialog div.confirmDeleteButtons button.cancel {
  order: 2;
}

dialog.confirmDeleteDialog div.confirmDeleteButtons button.delete {
  order: 1;
}

dialog.confirmDeleteDialog div.confirmDeleteButtons button {
  margin: .5em;
  margin-top: 1.5em;
}