body {
  background: lightgray;
  background-image: url("/_resources/Back.png");
}

div#bannerHeader {
  max-width:1200px;
  display: flex;
  justify-content: space-between;
}


div#banner {
  width:800px;
  height:200px;
  background-image:url("/_resources/Banner.png"), linear-gradient(to right, red, white);
  border: black 1px solid;
  display: inline-block;
}


div#userWidget {
  display: inline-block;
  text-align: right;
  height:90px;
  vertical-align:top;
  margin-top:1em;
}

div.UserWidget {
  background: lightgray;
  padding:10px;
}


div#appWrapper {
  max-width:1250px;
}

div#toolbar {
  position: absolute;
  top: 400px;
  background: #dddddd;
  padding: 1em;
  border-color:black;
  border-style:solid;
  border-width: 2px 2px 2px 0;
  width:120px;
}

div#root {
  margin-left: 120px;
}

div.RootFrame {
  position:relative;
}

div.RootBody {
  position:relative;
  background: white;
  margin: 40px;
  margin-bottom: 0px;
  max-width: 1000px;
  border-color:black;
  border-style:solid;
  min-height: 400px;
  padding: .5em;
  padding-bottom: 2em;
  border-width: 3px;
  overflow:auto;
}

div.RootBody div {
  margin-bottom: .5em;
}

div.RootMenu {
  position:relative;
  text-align: left;
  margin-left: 40px
}

div.RootMenu span {
  background: white;
  padding: 3px 3px 5px 3px;
  border-width: 0px 2px 2px 3px;
  border-style: solid;
  margin: 0px 6px 0px 0px;
}
div.RootMenu div.shiftRight div.drawerPull {
  margin-left: 25px;
}

div.tagList {
  position:absolute;
  bottom:0px;
  right:0px;
}

div.tagList span {
  padding-right: 5px;
  color: #AA0010;
  font-weight: bold;
}

a.wikiLink:link, a.wikiLink:visited {
  color: blue;
}
a.wikiLinkMissing:link, a.wikiLinkMissing:visited {
  color: red;
}
a.wikiLinkExternal:link, a.wikiLinkExternal:visited {
  color: green;
}

img.media, img.mediacenter, img.mediaright, img.medialeft {
  vertical-align: middle
}

img.mediaright {
  float: right;
  margin-left:1em;
  margin-bottom:.5em;
}
img.medialeft {
  float: left;
  margin-right:1em;
  margin-bottom:.5em;
}
img.mediacenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.uploadBox {
  margin-bottom: 1em;
}

span.bold {
  font-weight: bold;
}

div.toolbar div.bold {
  font-weight: bold;
}

div.toolbar a {
  text-decoration: none;
  color: black;
}
div.toolbar a:visited {
  color: black;
}

span.italic {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

span.monospace {
  font-family: monospace;
}

pre.code {
  padding: .5em;
  border: 1px dashed ;
  font-family: monospace;
  background-color: #f0f0f0;
  clear:both;
}

div.RootMenu div.drawer, div.RootMenu div.drawerPull  {
  display: inline-block;
}

div.RootMenu div.drawerPull  {
  background: white;
  padding: 3px 3px 5px 3px;
  border-width: 0px 2px 2px 3px;
  border-style: solid;
  margin: -3px 6px 0px 0px;
}

dialog.deletePageDialog {
  position: absolute;
  z-index:10;
  bottom:60px;
  left: -200px;
  background: grey;
}

table.lazerTable, table.lazerTable td, table.lazerTable th {
  border: 1px solid;
}
table.lazerTable {
  border-collapse:collapse;
  empty-cells:show;
  border-spacing:0;
}
table.lazerTable th {
 background: lightgrey;
 padding: 0 .5em 0 .5em;
}
 table.lazerTable td {
 padding: 0 .5em 0 .5em;
}

table.lazerTable tr:hover {
 background: #ffe0a0;
}
