body {
  background: #0080dd;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div#toolbar {
  float: left;
  background: #dddddd;
  margin: 200px 10px 0px 20px;
  padding:10px;
  border-color:black;
  border-style:solid;
}

div#root {
  margin-left: 120px;
}

div.RootBody {
  background: white;
  margin: 40px;
  margin-bottom: 0px;
  max-width: 1000px;
  border-color:black;
  border-style:solid;
}

div.RootMenu {
  text-align: left;
  margin-left: 40px
}

div.RootMenu span {
  background: white;
  padding: 2px 3px 5px 3px;
  border-width: 0px 2px 2px 2px;
  border-style: solid;
  margin: 0px 6px 0px 0px;
}
