body {
  background: lightgray;
  background-image: url("/_resources/Back.png");
}


.button-unstyled {
  padding: 0;
  border: 0;
  background: none;
  box-shadow: none;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
}

div#bannerHeader {
  max-width:1200px;
  display: flex;
  justify-content: space-between;
}


div#banner {
  width:800px;
  height:200px;
  background-image:url("/_resources/Banner.png"), linear-gradient(to right, red, white);
  border: black 1px solid;
  display: inline-block;
}

div#topWidgets {
  display: inline-block;  
}

div#userWidget {
  display: inline-block;
  text-align: right;
  height:90px;
  vertical-align:top;
  margin-top:1em;
}

div.UserWidget {
  background: lightgray;
  padding:10px;
}

div#appWrapper {
  max-width:1250px;
}

div#toolbar {
  position: fixed;
  top: 400px;
  background: #dddddd;
  padding: 1em;
  border-color:black;
  border-style:solid;
  border-width: 2px 2px 2px 0;
  width:145px;
  z-index:1;
}

div#root {
  margin-left: 145px;
}

div.RootFrame {
  position:relative;
}

div.RootBody {
  position:relative;
  background: white;
  margin: 40px;
  margin-bottom: 0px;
  max-width: 1000px;
  border-color:black;
  border-style:solid;
  min-height: 400px;
  padding: .5em;
  padding-bottom: 2em;
  border-width: 3px;
  overflow:auto;
}

div.RootBody div {
  margin-bottom: .5em;
}

div.RootMenu {
  position:fixed;
  text-align: left;
  right:10px;
  margin-top: 20px;
  float:right;
  z-index:1;
}

div.RootMenu .rootMenuButton {
  background: white;
  padding: 3px 3px 5px 3px;
  border-width: 2px 2px 2px 2px;
  border-style: solid;
  margin-bottom: .25em;
  box-shadow: 5px 2px;
  display: block;
  text-align: left;
}

div.RootMenu button.rootMenuButton {
  width:100%
}

div.RootMenu button.drawerPull::before {
  content: '\25C0 ';
  color: gray;
}

div.RootMenu button.drawerPull.open::before {
  content: '\25B6 ';
  color: #aa0000;
}

div.RootMenu div.previewFrame span {
  background: transparent;
  padding: 0;
  border-width: 0;
  margin: 0;
}
div.RootMenu div.shiftRight button.drawerPull {
  margin-left: 25px;
}

div.tagList {
  position:absolute;
  bottom:0px;
  right:0px;
}

div.tagList .tagButton {
  padding-right: 5px;
  color: #AA0010;
  font-weight: bold;
}

a.wikiLink:link, a.wikiLink:visited {
  color: blue;
}
a.wikiLinkMissing:link, a.wikiLinkMissing:visited {
  color: red;
}
a.wikiLinkExternal:link, a.wikiLinkExternal:visited {
  color: green;
}

img.media, img.mediacenter, img.mediaright, img.medialeft {
  vertical-align: middle
}

img.mediaright {
  float: right;
  margin-left:1em;
  margin-bottom:.5em;
}
img.medialeft {
  float: left;
  margin-right:1em;
  margin-bottom:.5em;
}
img.mediacenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.uploadBox {
  margin-bottom: 1em;
}

span.bold {
  font-weight: bold;
}

div.toolbar {
  overflow: hidden;
}

div.toolbar div.bold {
  font-weight: bold;
}

div.toolbar a {
  text-decoration: none;
  color: black;
}

div.toolbar a, div.toolbar a.wikiLink, div.toolbar a.wikiLinkMissing, div.toolbar a.wikiLinkExternal {
  text-decoration: none;
  color: black;
}

div.toolbar button.drawerPull::after {
  content: ' \25B6';
  color: gray;
}

div.toolbar button.drawerPull.open::after {
  content: ' \25C0';
  color: #aa0000;
}

div.toolbar a:visited {
  color: black;
}

span.italic {
  font-style: italic;
}

span.underline {
  text-decoration: underline;
}

span.monospace {
  font-family: monospace;
}

pre.code {
  padding: .5em;
  border: 1px dashed ;
  font-family: monospace;
  background-color: #f0f0f0;
  clear:both;
}

div.RootBody blockquote,div.previewFrameContent blockquote {
  border-left: #606060 solid 3px;
  padding-left: .5em;
  margin-left: 1em;
}

dialog.deletePageDialog {
  position: absolute;
  z-index:10;
  top:60px;
  background: grey;
}

dialog.deletePageDialog div.deleteDialogButtons {
  display: inline-flex;
}

dialog.deletePageDialog div.deleteDialogButtons button.cancel {
  order: 2;
}

dialog.deletePageDialog div.deleteDialogButtons button.delete {
  order: 1;
}


dialog.deletePageDialog::backdrop {
  z-index:10;
  background: rgba(0,0,0,0.7);
}

dialog.showImageDialog {
  z-index:10;
  background: grey;
}

dialog.showImageDialog::backdrop {
  z-index:10;
  background: rgba(0,0,0,0.7);
}

dialog.showImageDialog div.imgTitle {
  font-weight:bold;
  margin:.5em;
}

table.lazerTable, table.lazerTable td, table.lazerTable th {
  border: 1px solid;
}
table.lazerTable {
  border-collapse:collapse;
  empty-cells:show;
  border-spacing:0;
}
table.lazerTable th {
 background: lightgrey;
 padding: 0 .5em 0 .5em;
}
 table.lazerTable td {
 padding: 0 .5em 0 .5em;
}

table.lazerTable tr:hover {
 background: #ffe0a0;
}

dialog.dlgOverlay {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  z-index:1000;
  background: rgba(0,0,0,.7);
}

dialog.dlgOverlay div.confirmDlg {
  display: block;
  position: absolute;
  background:  white;
  border-radius: 10px;
  border-color:black;
  border-width: 2px;
  padding:5px;
  width: max(600px, 45%);
  margin:auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog.dlgOverlay div.confirmDlg div.confirmDlgBtns {
  display: flex;

}

dialog.dlgOverlay div.confirmDlg button.cancel {
  order: 2;
  margin:5px;
  margin-right:auto;
}

dialog.dlgOverlay div.confirmDlg button.confirm {
  order: 1;
  margin:5px;
  margin-left:auto;
}

div.hidden input[type='checkbox'].toggle {appearance: none; display:none}
.hdn-toggle { display: block; font-style: italic; font-family: monospace; font-size: 1.2rem; padding: 0 1rem; cursor: pointer; transition: all 0.25s ease-out; }
.hdn-toggle::before { content: ' '; display: inline-block; border-top: 5px solid transparent; border-bottom: 5px solid transparent; border-left: 5px solid currentColor; vertical-align: middle; margin-right: .7rem; transform: translateY(-2px); transition: transform .2s ease-out; }
.toggle:checked+.hdn-toggle::before { transform: rotate(90deg) translateX(-3px); }
.collapsible { max-height: 0px; overflow: hidden; transition: max-height .25s ease-in-out; color: #888888}
.toggle:checked + .hdn-toggle + .collapsible { max-height: unset}

div.hidden {border: black 1px solid; padding: 0 1rem}

@media only screen and (max-height: 440px) {
  div#toolbar {
    top: 50px;
  }
  
  div#toolbar div.pageFrame {
    position:absolute;
    width:500px;
    height:280px;
    overflow-y: auto;
  }
  
  div#toolbar div.pageSearchFrame {
    position:absolute;
    width:500px;
    height:280px;
    overflow-y: auto;
  }
  
  div#toolbar div.mediaFrame {
    position:absolute;
    width:500px;
    height:280px;
    overflow-y: auto;
    top: 0px;
  }

  div.toolbar button.drawerPull::after {
    content: '';
  }
}

@media only screen and (max-width: 440px) {
  div#toolbar {
    display: none;
  }

  div#root {
    margin-left: 0px;
  }

  div.RootMenu {
    display: none;
  }
}
