div.RootMenu div.backlinksFrame {
  position:absolute;
  width:300px;
  height:500px;
  right: 100px;
  top: 0px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div.backlinksFrame button.close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

div.backlinksFrameContent {
  display: flex;
  justify-content: space-between;

}

div.nsTreeSelector {
  display:inline-block;
  vertical-align: top;
  width:300px;
}

div.backlinkspageList  {
  overflow-y: auto;
  overflow-x: hidden;
  height:350px;
  width:300px;
  margin-left: 1.5em;
}

div.backlinkspageList div  {
  margin-bottom: .25em;
}

div.backlinkspageList a, div.backlinkspageList a:visited {
  color: blue;
  text-decoration: none;
}
