textarea.pageSource {
  background-color: lightgray;
  width: 98%;
  max-width:98%;
}

div.editableTagList {
  text-align: right;
}

div.editableTagList span {
}

div.editableTagList span input {
}

div.error {
  color: red;
}

div.editToolbar span.button {
  border-style: outset;
  border-width: 2px;
  border-color: black;
  margin-right: 1px ;
  display: inline-block;
}
div.editToolbar span.button:active {
  border-style: inset;
}
