textarea.pageSource {
  background-color: lightgray;
  width: 98%;
  max-width:98%;
}
textarea.pageSource.disabled {
  color: #545454;
  width: 98%;
  max-width:98%;
}

div.editableTagList {
  text-align: right;
}

div.editableTagList span.tag {
  white-space: nowrap;
}

div.editableTagList span.newTagEntry {
  white-space: nowrap;
  margin-left:4px;
}

div.error {
  color: red;
}

div.editToolbar button.toolbar-button {
  border-style: outset;
  border-width: 2px;
  border-color: black;
  margin-right: 1px ;
  display: inline-block;
}
div.editToolbar button.toolbar-button:active {
  border-style: inset;
}

div.editToolbar button.toolbar-button.open {
  border-style: inset;
  opacity: .2;
}
