div.forgotPasswordFrame {
    position:absolute;
    width:500px;
    height:240px;
    right: 0;
    top:170px;
    background:white;
    border-style:solid;
    border-width: 2px;
    padding:5px;
    z-index: 2;
}


div.forgotPasswordFrame button.close {
    float:right;
    margin:1px 3px;
    color: red;
    font-weight: bold;
}

div.forgotPasswordFrame div.box {
    clear: both;
    margin-bottom: .75em;
}

div.forgotPasswordFrame div.passwordMessage {
    color: darkred;
}

div.forgotPasswordFrame button.submitButton {
    margin-right: .5em;
}

div.forgotPasswordFrame div.VerifyTokenBackdrop {
    position:fixed;
    left:0px;
    top:0px;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:10;
}

div.forgotPasswordFrame div.VerifyTokenFrame {
    padding: 1em;
    border: 3px solid black;
    height:10em;
    width:30em;
    background:white;
}

div.forgotPasswordFrame div.VerifyTokenFrame > div {
    margin-bottom: 1em;
}

div.forgotPasswordFrame div.VerifyTokenFrame button.close{
    float:right;
    margin:-1em -.5em;
    color: red;
    font-weight: bold;
}