div.loginForm button.drawerPull::after {
    content: ' \25BC';
    color: gray;
}

div.loginForm button.drawerPull.open::after {
    content: ' \25B2';
    color: #aa0000;
}

div.loginForm div.errorText {
    color: red;
}

div.loginForm div.forgotPassword button.drawerPull {
    color: #880000;
}