div.toolbar div.mediaFrame {
  position:absolute;
  width:500px;
  height:500px;
  left: 152px;
  top: 10px;
  background:white;
  border-style:solid;
  padding:5px;
}

div.mediaFrame div.close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

div.mediaList  {
  position: relative;
}

div.imageFrame {
  position: relative;
  height:125px;
  width:125px;
  border-width:2px;
  border-style:solid;
  border-color:black;

  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}


div.mediaListItem img.hoverImg {
  position: absolute;
  top: 2px;
  left: 2px;
  height:125px;
  width:125px;
  object-fit: contain;
  transition: 1s ease;
  opacity:0;
}

div.mediaListItem:hover img.hoverImg {
  opacity:1;
}

div#message.error {
  color: red;
}

div#message {
  margin-bottom: 1em;
  height:12px;
}
