div.toolbar div.mediaFrame {
  position:absolute;
  width:500px;
  height:500px;
  left: 152px;
  top: 10px;
  background:white;
  border-style:solid;
  padding:5px;
}

div.mediaFrame div.close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

