div.toolbar div.mediaFrame {
  position:absolute;
  width:900px;
  height:800px;
  left: 152px;
  top: 10px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div.editToolbar div.mediaFrame {
  position:absolute;
  width:900px;
  height:600px;
  left: 60px;
  top: 50px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div.mediaFrame button.close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

div.mediaList  {
  width:650px;
  height:470px;
  overflow-y: auto;
  overflow-x: hidden;
}

div.editToolbar div.mediaList {
  height:250px;
}

div.mediaBox {
  position: relative;
}

div.imageFrame {
  position: relative;
  height:125px;
  width:125px;
  border-width:2px;
  border-style:solid;
  border-color:black;

  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  z-index:2;
}


div.mediaListItem img.hoverImg {
  position: absolute;
  top: 2px;
  left: 2px;
  height:125px;
  width:125px;
  object-fit: contain;
  transition: 1s ease;
  opacity:0;
}

div.mediaListItem:hover img.hoverImg {
  opacity:1;
}

div#message.error {
  color: red;
}

div#message {
  margin-bottom: 1em;
  height:12px;
}

span.delete {
  color: red;
}

div.mediaFrameContent {
  display: flex;
  justify-content: space-between;

}

div.nsTreeSelector {
  display:inline-block;
  vertical-align: top;
  width:300px;
}

div.mediaSelector {
  display:inline-block;
  vertical-align: top;
  width:800px;
  padding-right: .5em;
}

label.label {
  color:#0000a0;
}

input#mediaFileUploadNS {
  margin: 0 .5em 0 .25em;
}

dialog.deleteDialog {
  z-index:10;
}
