div.toolbar div.pageSearchFrame {
  position:absolute;
  width:600px;
  height:500px;
  left: 152px;
  top: 10px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div#root div.pageSearchFrame {
  position:absolute;
  width:400px;
  height:500px;
  right: 60px;
  bottom: 60px;
  background:white;
  border-style:solid;
  padding:8px;
  z-index: 1;
}

div.pageSearchFrame div.close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

div.pageSearchFrameContent {
  display: flex;
  justify-content: space-between;

}

div.nsTreeSelector {
  display:inline-block;
  vertical-align: top;
  width:300px;
}

div.pageSelector {
  display:inline-block;
  vertical-align: top;
  width:300px;
}

div.pageSearchList div  {
  margin-bottom: .25em;
}

div.pageSearchList a, div.pageSearchList a:visited {
  color: blue;
  text-decoration: none;
}

div.pageSearchList  {
  overflow-y: auto;
  overflow-x: hidden;
  height:350px;
  width: 275px;
  margin-left: 1em;
  padding-left: 1em;
  text-indent: -1em;
}

div.toolbar div.pageSearchFrame div.pageSearchList {
  width: 600px;
  border-color:grey;
  border-width:1px;
  border-style:solid;
  padding: .5em .5em .5em 1.5em;
  margin-top:.5em
}

div.pageSearchList span.match {
  background-color: #ffe0a0;
}

ul.nsTree {
  list-style:none;
  padding-left: 20px;
}

ul.nsTree li.terminal > span.dot:before{
  content: url("/_resources/dot.png");

}

ul.nsTree li.open > span.dot:before{
  content: url("/_resources/minus.png");

}

ul.nsTree li.closed > span.dot:before{
  content: url("/_resources/plus.png");

}

ul.nsTree li.closed ul {
  display:none;
}
