div.toolbar div.pageFrame {
  position:absolute;
  width:800px;
  height:500px;
  left: 152px;
  top: 0px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div.editToolbar div.pageFrame {
  position:absolute;
  width:800px;
  height:500px;
  left: 60px;
  top: 50px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div.pageFrame .close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

div.pageFrameContent {
  display: flex;
  justify-content: space-between;

}

div.nsTreeSelector {
  display:inline-block;
  vertical-align: top;
  width:300px;
}

div.pageSelector {
  display:inline-block;
  vertical-align: top;
  width:300px;
  padding-right: .5em;
}

div.pageList  {
  overflow-y: auto;
  overflow-x: hidden;
  height:350px;
  width: 275px;
  margin-left: 1em;
  padding-left: 1em;
  text-indent: -1em;
}

div.pageList div  {
  margin-bottom: .25em;
}

div.pageList a, div.pageList a:visited {
  color: blue;
  text-decoration: none;
}

ul.nsTree {
  list-style:none;
  padding-left: 20px;
}

ul.nsTree li.terminal > button.dot:before{
  content: url("/_resources/dot.png");

}

ul.nsTree li.open > button.dot:before{
  content: url("/_resources/minus.png");

}

ul.nsTree li.closed > button.dot:before{
  content: url("/_resources/plus.png");

}

ul.nsTree li.closed ul {
  display:none;
}

button.pageFrameSelect {
  text-align: inherit;
  text-indent: inherit;
  padding-left: inherit;
  padding-inline: revert;
  margin-left: 1em;
}

button.pageFrameSelect:hover {
  color:#a67000;
}
