div.toolbar div.recentChangesFrame {
  position:absolute;
  width:615px;
  left: 152px;
  top: 10px;
  background:white;
  border-style:solid;
  padding:5px;
  z-index: 1;
}

div.recentChangesList  {
  overflow-y: auto;
  overflow-x: hidden;
  max-height:600px;
  width:550px;
  margin: 1.5em;
  border: 1px solid black;
  padding:.5em;
}

div.recentChangesList a, div.recentChangesList a:visited {
  color: blue;
  text-decoration: none;
}

div.recentChangesList span.ts {
  color: grey;
  font-size: smaller;
}


div.recentChangesFrame button.close {
  float:right;
  margin:1px 3px;
  color: red;
  font-weight: bold;
}

div.recentChangesFilter {
  margin:1em;  
}

div.recentChangesItem {
  margin-bottom: .3em;
}
